<footer class="py-5 text-white text-center">
  <div class="container">
    <small>
      Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      All rights reserved | This template is made with
      <i class="fa fa-heart-o" aria-hidden="true"></i> by
      <a
        href="https://www.linkedin.com/in/sena-alzyod-294b0460//"
        target="_blank"
        style="text-decoration: none; color: red;"
      >
        Sena ALZYOD</a
      >
    </small>
  </div>
</footer>
