<div class="card rounded-0 mt-4" *ngIf="carDetails">
  <div class="card-header text-center rounded-0 mt-4">
    <div class="card-body">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            *ngFor="let image of images; let i = index"
            [ngClass]="getSliderClassName(i)"
          >
            <img
              src="{{ imageUrl }}/{{ image.imagePath }}"
              class="d-block w-100"
              width="500"
              height="400"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div></div>
  <div style="text-align: center" aria-current="true" *ngIf="carDetails">
    <h4>{{ carDetails.brandName }} -- {{ carDetails.carName }}</h4>
  </div>
  <table class="table" style="text-align: center">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Color</th>
        <th>Model Year</th>
        <th>Price</th>
        <th>Findex Score</th>
        <th></th>
      </tr>
    </thead>
    <tr *ngIf="carDetails">
      <td>{{ carDetails.brandName }}</td>
      <td>{{ carDetails.colorName }}</td>
      <td>{{ carDetails.modelYear }}</td>
      <td>₺ {{ carDetails.dailyPrice }}</td>
      <td>{{ carDetails.minFindexScore }}</td>
      <td>
        <app-rental [carDetails]="carDetails"></app-rental>
      </td>
    </tr>
  </table>
  <br />

  <div>
    <button
      routerLink="/cars"
      (click)="getBack()"
      width="50px"
      class="btn btn-outline-success"
    >
      Get Back
    </button>
  </div>
</div>
