<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="row m-2">
  <div class="col col-4">
    <select
      [(ngModel)]="brandFilter"
      class="form-select"
      aria-label="Default select example"
    >
      <option
        *ngFor="let brand of brands"
        [value]="brand.id"
        [selected]="getSelectedBrand(brand.id)"
      >
        {{ brand.name }}
      </option>
    </select>
  </div>
  <div class="col col-4">
    <select
      [(ngModel)]="colorFilter"
      class="form-select"
      aria-label="Default select example"
    >
      <option
        *ngFor="let color of colors"
        [value]="color.id"
        [selected]="getSelectedColor(color.id)"
      >
        {{ color.name }}
      </option>
    </select>
  </div>
  <div class="col col-2">
    <a
      routerLink="/cars/filter/brand/{{ brandFilter }}/color/{{ colorFilter }}"
      class="btn btn-info"
      >Filter</a
    >
  </div>
  <div class="col col-2">
    <a routerLink="/cars" class="btn btn-danger">Clear All</a>
  </div>
</div>

<div class="row" style="padding: 10px; margin: 10px">
  <div
    *ngFor="let car of carDetail"
    class="card"
    style="width: 25rem; margin-left: 15px; margin-top: 10px"
  >
    <img
      style="padding-top: 10px"
      *ngIf="!car.imagePath"
      src="file:///C:/Users/sena/source/repos/CarRentProject/WebAPI/wwwroot/Images/logo.jpg"
      routerLink="/cars/car-detail/{{ car.id }}"
      class="card-img-top"
      style="object-fit: cover"
      width="100"
      height="160"
      alt="..."
    />
    <img
      style="padding-top: 10px"
      routerLink="/cars/car-detail/{{ car.id }}"
      *ngIf="car.imagePath"
      [src]="defaultPath + car.imagePath"
      class="card-img-top"
      style="object-fit: cover"
      width="100"
      height="160"
      alt="..."
    />
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="float-start">Car</span>
          <span class="float-end"
            >{{ car.brandName | uppercase }} {{ car.carName | uppercase }}</span
          >
        </li>
        <li class="list-group-item">
          <span class="float-start">Model</span>
          <span class="float-end">{{ car.modelYear }}</span>
        </li>
        <p class="card-text text-center h3 mt-3">₺{{ car.dailyPrice }}</p>

        <div class="d-flex justify-content-end align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-success"
              routerLink="/cars/car-detail/{{ car.id }}"
            >
              Details
            </button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
